*{ margin: 0;
    max-width: 100%;
   }
.l1{
    display: inline-block;
    border: 3px solid rgba(12, 236, 12, 0.315);
    background-color: rgba(225, 255, 225, 0.616);
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    padding-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(26, 48, 26);
}
.l2{
    display: inline-block;
    border: 3px solid rgba(195, 221, 44, 0.637);
    background-color: rgba(255, 255, 255, 0.616);
    width: 480px;
    height: 450px;
    text-align: center;
    border-radius: 25px;
    margin-left: 55px;
    margin-top: 35px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(26, 48, 26);
}
.l3{
    display: inline-block;
    border: 3px solid rgba(52, 206, 52, 0.637);
    background-color: rgba(191, 240, 191, 0.616);
    width: 1100px;
    height: 350px;
    padding-top:30px;
    margin: 17px;
    text-align: center;
    border-radius: 25px;
    margin-top: 35px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(26, 48, 26);
}
.p2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(26, 48, 26);
}
.nav1{
    background-color: rgba(191, 240, 191, 0.616);
    padding-top: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
}
#titlecolor{
    color: rgb(196, 185, 38, 0.76);
}
#helpbar{
    background-color: rgba(195, 221, 44, 0.637);
    width: 1150px;
    height: 230px;
}
#helpbar1{
 display: inline-block;
 flex-direction: column;
 justify-content: space-evenly;
 align-items:baseline;
 padding: 12px;
 padding-right: 275px;
 margin: 10px;
 color: white;

}
.img1{
    position: absolute;
    width: 500px;
    height: 300px;
}
.img2{
    position: absolute;
    left: 600px;
    top: 440px;
    width: 500px;
    height: 300px; 
}
.img3{
    position: absolute;
    left: 600px;
    top: 1150px;
    width: 500px;
    height: 300px; 
}
#helpbar2{
    display: inline-block;
}
.h2{
    display: inline;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(164, 202, 28, 0.616);
    margin-bottom: 5px;
}
.h3{
    display: inline;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(164, 202, 28, 0.616);
}


